root = true

[*]
charset = utf-8
end_of_line = lf

indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.js]
indent_size = 4

[*.py]
indent_size = 4

[*.ui]
indent_size = 2

[*.yml]
indent_size = 2

[*.gschema.xml]
indent_size = 2

[meson.build]
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
