# SPDX-FileCopyrightText: 2020 Aleksandr Mezin <mezin.alexander@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

*~

/node_modules/

# Meson subprojects
/subprojects/.wraplock
/subprojects/gjs-typelib-installer/

# Python
.tox/
__pycache__/

# Vagrant
/.vagrant/

# Arch packaging
/src/
/pkg/
/gnome-shell-extension-ddterm-git/
/*.pkg.tar.*
