*~
/node_modules/

# Makefile output
/*.shell-extension.zip
/ddterm/app/ui/
/ddterm/pref/ui/
/ddterm/thirdparty/
/ddterm/com.github.amezin.ddterm.desktop
/ddterm/com.github.amezin.ddterm.service
/metadata.json
/schemas/gschemas.compiled
/locale/
/tmp/

# Vagrant
/.vagrant/

# Arch packaging
/src/
/pkg/
/gnome-shell-extension-ddterm-git/
/*.pkg.tar.*
