[Desktop Entry]
Type=Application
Name=Drop Down Terminal
NoDisplay=true
Comment=Another drop down terminal extension for GNOME Shell. With tabs. Works on Wayland natively.
Icon=terminal
Exec=gdbus call --session --dest org.gnome.Shell --object-path /org/gnome/Shell/Extensions/ddterm --method com.github.amezin.ddterm.Extension.Toggle
Actions=
Categories=Utility;
StartupWMClass=Com.github.amezin.ddterm
