[D-BUS Service]
Name=org.gnome.Shell.Extensions.ddterm
Exec=gdbus call --session --dest org.gnome.Shell --object-path /org/gnome/Shell/Extensions/ddterm --method com.github.amezin.ddterm.Extension.Activate
