/*
 * SPDX-FileCopyrightText: 2020 Aleksandr Mezin <mezin.alexander@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

tabbar button image {
    -gtk-icon-style: symbolic;
}

.transparent-background {
    background: transparent;
}
