concurrency: ${{ github.workflow }}/${{ github.ref }}

on:
  workflow_dispatch:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ddterm/ci-docker-image:2023.03.13.0

    env:
      PY_COLORS: 1
      TOX_TESTENV_PASSENV: PY_COLORS GITHUB_ACTIONS PIP_DISABLE_PIP_VERSION_CHECK
      PIP_DISABLE_PIP_VERSION_CHECK: 1

    steps:
    - name: Checkout
      id: checkout
      uses: actions/checkout@v3

    - run: git config --global --replace-all safe.directory "$GITHUB_WORKSPACE"

    - name: Setup Testspace
      id: setup_testspace
      uses: testspace-com/setup-testspace@v1
      with:
        domain: ${{ github.repository_owner }}
      continue-on-error: true

    - name: Setup NodeJS error matcher
      uses: actions/setup-node@v3

    - name: Install JS dependencies
      id: npm
      run: npm ci
      if: ${{ always() && steps.checkout.conclusion == 'success' }}

    - name: Lint JS code
      run: make lint
      if: ${{ always() && steps.npm.conclusion == 'success' }}

    - name: Lint JS code with checkstyle XML report
      run: make "ESLINT_OPTS=--format checkstyle --output-file eslint.xml" lint
      if: ${{ always() && steps.npm.conclusion == 'success' }}

    - name: Pre-create pip cache directory
      run: mkdir -p "$HOME/.cache/pip"
      if: ${{ always() && steps.checkout.conclusion == 'success' }}

    - name: Enable flake8 error matcher
      run: echo "::add-matcher::.github/problem-matchers/flake8.json"
      if: ${{ always() && steps.checkout.conclusion == 'success' }}

    - name: Lint Python test code
      run: tox --sitepackages -e lint | sed -e 's:^\./:test/:' | tee ../flake8.log
      shell: bash
      env:
        PY_COLORS: 0
      if: ${{ always() && steps.checkout.conclusion == 'success' }}
      working-directory: test

    - name: Enable generic error matcher
      run: echo "::add-matcher::.github/problem-matchers/generic.json"
      if: ${{ always() && steps.checkout.conclusion == 'success' }}

    - name: Compile GSettings schemas
      run: make schemas | tee schemas.log
      shell: bash
      if: ${{ always() && steps.checkout.conclusion == 'success' }}

    - name: Compile translations
      run: make locales | tee locales.log
      shell: bash
      if: ${{ always() && steps.checkout.conclusion == 'success' }}

    - name: Validate Gtk .ui files
      run: xvfb-run make gtk-builder-validate | tee gtk-builder.log
      shell: bash
      if: ${{ always() && steps.checkout.conclusion == 'success' }}

    - name: Ensure Python requirements .txt files are in sync with .in files
      run: |
        tox --sitepackages -e pip-compile
        git diff --exit-code --color=always
      if: ${{ always() && steps.checkout.conclusion == 'success' }}
      working-directory: test

    - name: Ensure Python version in renovate.json matches CI Docker image
      run: .github/renovate-python-constraint.py
      if: ${{ always() && steps.checkout.conclusion == 'success' }}

    - name: Upload reports to Testspace
      run: testspace --verbose eslint.xml "*.log{lint}"
      if: ${{ always() && steps.setup_testspace.outcome == 'success' }}

  pack:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ddterm/ci-docker-image:2023.03.13.0

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup NodeJS error matcher
      uses: actions/setup-node@v3

    - name: Enable generic error matcher
      run: echo "::add-matcher::.github/problem-matchers/generic.json"

    - name: Install JS dependencies
      run: npm ci --omit dev

    - name: Build extension package
      run: xvfb-run make pack

    - name: Upload extension package as artifact
      id: upload
      uses: actions/upload-artifact@v3
      with:
        name: pack
        path: "*.shell-extension.zip"
        if-no-files-found: error

  configure-test-matrix:
    runs-on: ubuntu-latest
    outputs:
      images: ${{ steps.generate.outputs.images }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: pip3 install --use-pep517 -r requirements/images.txt
        working-directory: test

      - name: Get GNOME Shell container images list from compose.yaml
        id: generate
        run: echo "images=$(./images.py services | jq -Rcn '[inputs]')" >>$GITHUB_OUTPUT
        working-directory: test

  test:
    needs:
    - lint
    - pack
    - configure-test-matrix

    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/ddterm/ci-docker-image:2023.03.13.0
      options: --privileged --cgroupns=host --tmpfs /tmp --tmpfs /run

    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.configure-test-matrix.outputs.images) }}

    env:
      PY_COLORS: 1
      TOX_TESTENV_PASSENV: PY_COLORS GITHUB_ACTIONS PIP_DISABLE_PIP_VERSION_CHECK
      PIP_DISABLE_PIP_VERSION_CHECK: 1

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup NodeJS error matcher
      uses: actions/setup-node@v3

    - name: Enable generic error matcher
      run: echo "::add-matcher::.github/problem-matchers/generic.json"

    - run: git config --global --replace-all safe.directory "$GITHUB_WORKSPACE"

    - name: Setup Testspace
      id: setup_testspace
      uses: testspace-com/setup-testspace@v1
      with:
        domain: ${{ github.repository_owner }}
      continue-on-error: true

    - name: Download extension package
      uses: actions/download-artifact@v3
      with:
        name: pack

    - name: Pre-create pip cache directory
      run: mkdir -p "$HOME/.cache/pip"

    - name: Pull GNOME Shell container image
      run: tox -e images -- pull ${{ matrix.image }}
      working-directory: test

    - name: Install Python test dependencies
      run: tox -vv --notest --sitepackages
      working-directory: test

    - name: Disable generic error matcher
      run: |
        echo "::remove-matcher owner=generic::"
        echo "::remove-matcher owner=generic-nolocation::"

    - name: Run tests
      run: >-
        tox --sitepackages --
        --self-contained-html
        --junitxml=junit.xml
        --compose-service ${{ matrix.image }}
        --pack ../*.shell-extension.zip
        -n auto
        --dist worksteal
        --screenshot-failing-only
        -vv
      working-directory: test

    - name: Upload report to Testspace
      run: testspace --verbose "[${{ matrix.image }}]./test/junit.xml" "[${{ matrix.image }}]+./test/report.html"
      if: ${{ always() && steps.setup_testspace.outcome == 'success' }}

    - name: Upload report as artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.image }}
        path: |
          test/report.html
          test/junit.xml
      if: always()
