# SPDX-FileCopyrightText: 2025 Aleksandr Mezin <mezin.alexander@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

name: master

concurrency: ${{ github.ref }}

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    secrets: inherit
    with:
      push: true

  pages:
    needs: ci
    if: ${{ !cancelled() }}
    runs-on: ubuntu-slim
    timeout-minutes: 5

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: bundle

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: '!{bundle,github-pages-*}'

      - run: >-
          find . -type d -exec
          bash -c 'tree "$0" -h --du -D -H "/${GITHUB_REPOSITORY#*/}/${0:2}" -o "$0/index.html"' '{}'
          ';'

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: .
          name: github-pages-${{ github.run_attempt }}

      - id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
        with:
          artifact_name: github-pages-${{ github.run_attempt }}

  release:
    needs: ci
    if: ${{ !cancelled() }}
    runs-on: ubuntu-slim
    timeout-minutes: 5

    permissions:
      contents: write

    env:
      GH_TOKEN: ${{ github.token }}
      GH_REPO: ${{ github.repository }}
      TAG: v${{ needs.ci.outputs.version }}

    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: bundle

      - id: existing
        run: |
          existing="$(gh release list --json tagName | jq -c '[.[].tagName]')"
          echo "existing=$existing" | tee -a "$GITHUB_OUTPUT"

      - run: gh release create "$TAG" --draft --generate-notes --target "$GITHUB_SHA" ./*.shell-extension.zip
        if: ${{ !contains(fromJSON(steps.existing.outputs.existing), env.TAG) }}
