concurrency:
  group: ${{ github.workflow }}/${{ github.ref }}
  cancel-in-progress: true

name: pot

on:
  push:
    branches:
      - master

jobs:
  pot:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ddterm/ci-docker-image:2023.03.11.0

    steps:
    - name: Service token
      id: get-token
      uses: getsentry/action-github-app-token@v2
      with:
        app_id: ${{ secrets.APP_ID }}
        private_key: ${{ secrets.APP_KEY }}

    - name: Checkout
      uses: actions/checkout@v3
      with:
        token: ${{ steps.get-token.outputs.token }}

    - run: git config --global --replace-all safe.directory "$GITHUB_WORKSPACE"

    - name: Enable generic error matcher
      run: echo "::add-matcher::.github/problem-matchers/generic.json"

    - name: Update .pot files
      run: po/update-pot.sh

    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "[ci skip] Update .pot file"
        file_pattern: po/*.pot
        skip_fetch: true
        skip_checkout: true
