name: release

on:
  push:
    tags:
      - "v[0-9]+"
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yml

  draft:
    needs:
      - build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Read version from metadata
      id: get_version
      run: |
        echo "version=$(jq .version metadata.json.in)" >>$GITHUB_OUTPUT

    - name: Check version matches the tag
      run: |
        test "v${{ steps.get_version.outputs.version }}" = "${{ github.ref_name }}"

    - uses: actions/download-artifact@v3
      with:
        name: pack
    - uses: softprops/action-gh-release@v1
      with:
        files: "*.shell-extension.zip"
        draft: true
        generate_release_notes: true
